@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container" style="float:right">
                <img class="img-house rounded  col-md-8" src="/lib/Image/img.start2.jpg"  alt="Image start">
            </div>

<form asp-controller="Movies" asp-action="Index" method="get">
    <p>

        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>*@





  @*  @{
        int arrayValue = 0;
    }*@
@*
    <div class="container" style="float:left">
            <div class="col-md-4" ">
                <h1 class="text-header">Välkommen till Hitta Hem</h1><br />
            </div>


            <div class="search-container col-md-4">
                <form asp-action="Search" method="post" class="align-content-md-start p-2" target="_self">
                    <div class="searchbar">
                        <input type="text" name="SearchMunicipality" class="bi bi-search btn-home-line my-3" placeholder="Sök Ort" />
                    </div>
                    @foreach (var houseType in Model.HousingTypes)
                    {
                        <div class="filterBoxes float-start">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="HouseTypes[@arrayValue]" id="inlineCheckbox_@houseType.Id" value="@houseType.Id">
                                <label class="form-check-label" for="inlineCheckbox_@houseType.Id">@houseType.Name</label>
                            </div>
                        </div>
                        arrayValue = arrayValue + 1;
                    }
                    <div class="maximum-filter">
                        <label for="price">Max Pris</label>
                        <select id="price" name="price" class="btn-home-line">
                            <option value="start">50 000</option>
                            <option value="second">100 000</option>
                            <option value="middle">500 000</option>
                            <option value="large">1 000 000</option>
                            <option value="larger">5 000 000</option>
                            <option value="castle">10 000 000</option>
                        </select>
                    </div>
                    <div class="minimum-filter">
                        <label for="room">Min Rum</label>
                        <select id="price" name="price" class="btn-home-line">
                            <option value="one">1:a</option>
                            <option value="two">2:a</option>
                            <option value="three">3:a</option>
                            <option value="four">4:a</option>
                            <option value="five">5:a</option>
                            <option value="six">6:a</option>
                            <option value="obove">Fler än 6</option>
                        </select>
                    </div>
                    <div class="minimum-area-filter ">
                        <label for="area">Min Boarea</label>
                        <select id="area" name="area" class="btn-home-line">
                            <option value="smallest">30 kvm</option>
                            <option value="smaller">60 kvm</option>
                            <option value="small">80 kvm</option>
                            <option value="big">120 kvm</option>
                            <option value="bigger">150 kvm</option>
                            <option value="biggest">Större än 150 kvm</option>
                        </select>
                    </div>


                    <div class="submit-button float-end">
                        <input type="submit" class="btn-home my-3" value=Hitta />
                    </div>
                </form>
           </div>
     </div>
            <div class="container" style="float:right">
                <img class="img-house rounded  col-md-8" src="/lib/Image/img.start2.jpg"  alt="Image start">
            </div>
  

 </body>
*@
    @* <form asp-action="Index" method="get" class="col-md-4 p-2">
        <div class="searchbar my-3">
        <input type="text" name="searchString" class="bi bi-search btn-home-line my-3" placeholder="Sök Ort" />
        </div>

        <div class="row-cols-4">
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes[0]" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Villa</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes[1]" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Radhus</label>
        </div>
        </div>

        <div class="row-cols-4">
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox3" value="option3">
        <label class="form-check-label" for="inlineCheckbox3">Lägenhet</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox4" value="option3">
        <label class="form-check-label" for="inlineCheckbox4">Fritidsboende</label>
        </div>
        </div>
        <div class="row-cols-4">
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox5" value="option3">
        <label class="form-check-label" for="inlineCheckbox5">Tomter</label>
        </div>

        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox6" value="option3">
        <label class="form-check-label" for="inlineCheckbox6">Gårdar/Skogar</label>
        </div>
        </div>
        <div class="row-cols-4">
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox7" value="option3">
        <label class="form-check-label" for="inlineCheckbox7">Nyproduktion</label>
        </div>
        <div class="form-check form-check-inline col-md-2">
        <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox8" value="option3">
        <label class="form-check-label" for="inlineCheckbox8">Övriga</label>
        </div>
        </div>
        <div class="submit-button float-end">
        <input type="submit" class="btn-home my-3" value=Hitta />
        </div>
        </form>*@





@*<div class="container">
    <div class="row">
    <div class="col-md-4 mb-3">
    <header>
    <h1 class="text-header">Välkommen till Hitta Hem</h1>
    </header>
    </div>
    <div class="col-md-4 mb-3">
    <form asp-action="Index" class="col-md-4 my-1 p-2">
    <div class="searchbar my-3">
    <input type="text" name="searchString" placeholder=<i class="bi bi-search"></i>"Sök Ort" />
    </div>
    <div class="col-md-8">
    <div class="img-frontpage">
    <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
    </div>
    </div>
    <div></div>
    <div class="filter- my-1">

    </div>
    </form>
    </div>

    <form asp-action="Index" class="col-md-4 my-1 p-2">
    <div class="my-1">
    <input type="text" name="searchString" placeholder="Sök Ort" class="form-control-sm col-12" />
    </div>
    <div class="filter my-1">
    </div>
    <label for="Price">Utgångspris:</label><br>
    <div class="my-1">
    <input type="number" name="minPrice" step="1" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="1" class="form-control-sm col-5" />
    </div>
    <div class="my-1">
    <input type="submit" value="Sök" class="btn btn-home" />
    </div>

    </form>

    <div class="col-md-8">
    <div class="img-frontpage">
    <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
    </div>
    </div>

    </div>


    </body>

    <div>
    <ul>
    @foreach (Home h in Model.Homes)
    {
    <li>
    @h.Street.Name
    </li>
    <li>
    @h.Price
    </li>
    <li>
    @(h.User is null ? "no mäklare" : h.User.UserName)
    </li>
    <li>
    @(h.Municipality is null ? "no mäklare" : h.Municipality.Name)
    </li>
    }
    </ul>

    </div>*@
