@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<body>

<div class="container-fluid align-content-md-start">
  <div class="row align-content-center">
      <div class="col-md-4">
        <h1 class="text-header">Välkommen till Hitta Hem</h1><br />
      </div>
  </div>
  <div class="row">
  <div class="search-container col-md-4">
     <form asp-action="Search" method="get" class="align-content-md-start p-2">
       <div class="searchbar">
         <input type="text" name="searchMunicipalityString" class="bi bi-search btn-home-line my-3" placeholder="Sök Ort" />
       </div>
        
       @foreach (var houseType in Model.HousingTypes)
       {
           <div class="filterBoxes float-start">
             <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox_@houseType.Id" value="option_@houseType.Id">
              <label class="form-check-label" for="inlineCheckbox_@houseType.Id">@houseType.Name</label>
             </div>
           </div>
       }

       <div class="submit-button float-end">
           <input type="submit" class="btn-home my-3" value=Hitta />
       </div>
           @*submit btn*@
      </form>
  </div>
  </div>
 </div>
   
        
         @*<form asp-action="Index" method="get" class="col-md-4 p-2">
            <div class="searchbar my-3">
                <input type="text" name="searchString" class="bi bi-search btn-home-line my-3" placeholder="Sök Ort" />
            </div>
  
        <div class="row-cols-4">
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Villa</label>
          </div>
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Radhus</label>
          </div>
        </div>

        <div class="row-cols-4">
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Lägenhet</label>
          </div>
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox4" value="option3">
            <label class="form-check-label" for="inlineCheckbox4">Fritidsboende</label>
          </div>
        </div>
        <div class="row-cols-4">
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox5" value="option3">
            <label class="form-check-label" for="inlineCheckbox5">Tomter</label>
          </div>
       
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox6" value="option3">
            <label class="form-check-label" for="inlineCheckbox6">Gårdar/Skogar</label>
          </div>
        </div>
        <div class="row-cols-4">
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox7" value="option3">
            <label class="form-check-label" for="inlineCheckbox7">Nyproduktion</label>
          </div>
          <div class="form-check form-check-inline col-md-2">
            <input class="form-check-input" type="checkbox" name="itemTypes" id="inlineCheckbox8" value="option3">
            <label class="form-check-label" for="inlineCheckbox8">Övriga</label>
          </div>
        </div>
        </form>
            <div>
                <h1>Sökresultat</h1>

            </div>
       </div>*@
     
        
     
  
    
       @* <div class="img-frontpage">
           <img src="/lib/Image/img.start2.jpg" class="img-house rounded" alt="Image start">
        </div>*@
    
  </>
 
     
 
</div>
</body>

@*<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
     <header>
        <h1 class="text-header">Välkommen till Hitta Hem</h1>
     </header>
    </div>
    <div class="col-md-4 mb-3">
        <form asp-action="Index" class="col-md-4 my-1 p-2">
            <div class="searchbar my-3">
            <input type="text" name="searchString" placeholder=<i class="bi bi-search"></i>"Sök Ort" />
            </div>
            <div class="col-md-8">
                 <div class="img-frontpage">
                 <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
                 </div>
            </div>
    <div></div>
            <div class="filter- my-1">

            </div>
        </form>
    </div>
   
    <form asp-action="Index" class="col-md-4 my-1 p-2">
        <div class="my-1">
            <input type="text" name="searchString" placeholder="Sök Ort" class="form-control-sm col-12" />
        </div>
        <div class="filter my-1">
        </div>
        <label for="Price">Utgångspris:</label><br>
        <div class="my-1">
            <input type="number" name="minPrice" step="1" class="form-control-sm col-5" />&nbsp;&#8212;&nbsp;<input type="number" name="maxPrice" step="1" class="form-control-sm col-5" />
        </div>
        <div class="my-1">
            <input type="submit" value="Sök" class="btn btn-home" />
        </div>
        
    </form>

    <div class="col-md-8">
        <div class="img-frontpage">
            <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
        </div>
    </div>
  
</div>


</body>

<div>
    <ul>
        @foreach (Home h in Model.Homes)
        {
            <li>
                @h.Street.Name
            </li>
            <li>
                @h.Price
            </li>
            <li>
                @(h.User is null ? "no mäklare" : h.User.UserName)
            </li>
            <li>
                @(h.Municipality is null ? "no mäklare" : h.Municipality.Name)
            </li>
        }
    </ul>
    
</div>*@
