@model HomeIndexViewModel
@using Hittahem.Mvc.Enums
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <h1 class="text-header my-2">Välkommen till Hitta Hem</h1>
       
            <div class="search-container container-fluid">
            <form asp-action="Search" method="post" >
            <div class="my-1 p-2">
                <div class="searchbar my-3">
                    <input type="text" name="SearchString" class="btn-home-line" placeholder="Sök Ort" />
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="villa" value="1">
                      <label class="form-check-label" for="villa">Villa</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="radhus" value="2">
                      <label class="form-check-label" for="radhus">Radhus</label>
                    </div>
                     <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="lagenhet" value="3">
                      <label class="form-check-label" for="lagenhet">Lägenhet</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="fritid" value="4">
                      <label class="form-check-label" for="fritid">Fritidsboende</label>
                    </div>
                     <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="tomt" value="5">
                      <label class="form-check-label" for="tomt">Tomt</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" name="HousingType" id="gard" value="6">
                      <label class="form-check-label" for="gard">Gård/Skog</label>
                    </div>
                </div>

                         <div class="minimum-area-filter my-3">
                            <label for="area">Min Boarea</label>
                            <select id="area" name="Area" class="btn-home-line">
                                <option value="@Area.Smallest">30 kvm</option>
                                <option value="@Area.Smaller">60 kvm</option>
                                <option value="@Area.Small">80 kvm</option>
                                <option value="@Area.Big">120 kvm</option>
                                <option value="@Area.Bigger">150 kvm</option>
                                <option value="@Area.Biggest">Större än 150 kvm</option>
                            </select>
                        </div>
                        <div class="maximum-filter my-3">
                            <label for="price">Max Pris</label>
                            <select id="price" name="Price" class="btn-home-line">
                                <option value="@Price.Start">50 000</option>
                                <option value="@Price.Second">100 000</option>
                                <option value="@Price.Middle">500 000</option>
                                <option value="@Price.Large">1 000 000</option>
                                <option value="@Price.Larger">5 000 000</option>
                                <option value="@Price.Castle">10 000 000</option>
                            </select>
                        </div>
                        <div class="minimum-filter">
                            <label for="room">Min Rum</label>
                            <select id="room" name="Room" class="btn-home-line">
                                <option value="@Room.One">1:a</option>
                                <option value="@Room.Two">2:a</option>
                                <option value="@Room.Three">3:a</option>
                                <option value="@Room.Four">4:a</option>
                                <option value="@Room.Five">5:a</option>
                                <option value="@Room.Six">6:a</option>
                                <option value="@Room.Above">Fler än 6</option>
                            </select>
                        </div>

                        <div class="submit-button">
                            <input type="submit" class="btn-home my-3" value=Hitta />
                        </div>
                </div>
            </form>  
            </div> 
        </div>
        <div class="col-md-8 ">
            <div class="img-frontpage">
               <img src="/lib/Image/img.start2.jpg" class="rounded img-house" alt="Image start">
            </div>
        </div>
      </div>
    </div>
</body>
