@model Hittahem.Mvc.Models.Home

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-header">@Html.DisplayFor(model => model.Adress)</h1>

<div>
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/lib/Image/Husbild.jpg" alt="..." /></a>
                        <div class="card-body">
                             <div><h5>@Html.DisplayFor(model => model.HousingType)</h5></div>
                            <div><h5>Utropspris @Html.DisplayFor(model => model.Price)</h5></div>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="row">
                            <div class="card-text mb-2">
                                <div class="card-body">
                                    <p class="card-text">Beskrivning: @Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div> 
                 </div>
                 <div class="row">
                        <div class="card col-6 m-3">
                                <div class="card-body details card-text" >
                                    <dl class="row">

                                        <dt class="col-sm-7">
                                            @Html.DisplayNameFor(model => model.Rooms)
                                        </dt>
                                        <dd class ="col-sm-5">
                                            @Html.DisplayFor(model => model.Rooms)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.LivingArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.LivingArea) kvm
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.UninhabitableArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.UninhabitableArea)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.GardenArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.GardenArea)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.BuildYear)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.BuildYear)
                                        </dd>

                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.HousingType)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.HousingType)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.OwnershipType)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.OwnershipType)
                                        </dd>
                                    </dl>
                                  </div>  
                             </div>
             

                                   @*TODO- ändra namn från smal till small*@
                             <div class="card col-5 m-3">
                                <div class="card-body details card-text" >
                                     <h4> Mailadress till intresseanmälda</h4>  
                                    @foreach (var user in Model.InterestedUsers)
                                    {
                                        <p>@user.User.UserName</p>
                                    }
                             </div>
                            </div>       
                          


</div>
    </div>
</div>

<div>
    <a asp-action="Edit" style="text-decoration: none;" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" style="text-decoration: none;"> Back to List </a>
</div>



 