@model IEnumerable<Hittahem.Mvc.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-header">Dina annonser</h1>
<p>
    <a asp-action="Create" style="text-decoration: none; color: black;" class="btn">Create New</a>
</p>

 <div class="row">
    @foreach (var home in Model)
    {
        <div class="col-md-6">
            <div class="card card-index">
                <a class="a-card-index" asp-action="Details" asp-route-id="@home.Id">
                  
                     <div class="card-body">
                            <img src="@home.Image" class="card-img-top"/>
                         </div> 
                   
                         <div class="card-body col-md-6">
                             <h4 class="card-title">@home.HousingType</h4>
                             <p class="card-text">@home.Address</p>
                            
                            @if (string.IsNullOrEmpty(home.Description) || home.Description.Count<char>() <= 26)
                            {
                                <p class="card-text">Ingen beskrivning av huset</p>
                            }
                            else
                            {
                                <p class="card-text">@home.Description.Substring(0,26)</p>
                            }
                            
                         </div>

                         <ul class="list-group list-group-flush">
                            <li class="card-text">Utropspris: @home.Price.ToString("c")</li>
                            <li class="card-text">Area: @home.LivingArea</li>
                            <li class="card-text">Rum: @home.Rooms</li>
                         </ul>
                </a>
           
                 <a asp-action="Edit" asp-route-id="@home.Id" style="text-decoration: none; color: black;">Edit</a>
                 <a asp-action="Delete" asp-route-id="@home.Id" style="text-decoration: none; color: black;">Delete</a>
            </div>
        </div>
    }
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UninhabitableArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UninhabitableArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnershipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agent.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@