@model IEnumerable<Hittahem.Mvc.Models.Home>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@{
    ViewData["Title"] = "Home Page";
}
<body>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4">
        <h1 class="text-header">Välkommen till Hitta Hem</h1>
        <div class="search-container container-fluid">
        <form asp-action="Index" class="col-md-4 my-1 p-2">
            <div class="searchbar my-3">
                <input type="text" name="searchString" class="bi bi-search" placeholder="Sök Ort" />
            </div>
            <div class="filter-frontpage">
           @* man ska kunna kryssa i flera alternativ för hustyp *@
           @* max pris för huset *@
           @* min rum och min boarea *@
            </div>
        </form>
        </div>    
    </div>
    <div class="col-md-8 ">
        <div class="img-frontpage">
           <img src="/lib/Image/img.start2.jpg" class="rounded" alt="Image start">
        </div>
    </div>
  </div>
 
     
 
</div>
</body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UninhabitableArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GardenArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnershipType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UninhabitableArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GardenArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnershipType.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
