@model Hittahem.Mvc.Models.Home

@{
    ViewData["Title"] = "Details";
}

 <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="~/lib/Image/Husbild.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div><h4>@Html.DisplayFor(model => model.Adress)</h4></div>
                            <div><h5>@Html.DisplayFor(model => model.Price)</h5></div>
                            <a class="btn btn-home" href="#!">Intresseanmäl</a>
                        </div>
                    </div>
                 </div>
                 <div class="row">
                        <div class="col-3">
                            <div class="card-text mb-2 card-smal">
                                <div class="card-body">
                                    <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
                                </div>
                            </div>
                             <div class="card mb-2 card-smal">
                                <div class="card-body details card-text" >
                                    <dl class="row">

                                        <dt class="col-sm-7">
                                            @Html.DisplayNameFor(model => model.Rooms)
                                        </dt>
                                        <dd class ="col-sm-5">
                                            @Html.DisplayFor(model => model.Rooms)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.LivingArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.LivingArea) kvm
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.UninhabitableArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.UninhabitableArea)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.GardenArea)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.GardenArea)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.BuildYear)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.BuildYear)
                                        </dd>

                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.HousingType)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.HousingType)
                                        </dd>
                                        <dt class = "col-sm-7">
                                            @Html.DisplayNameFor(model => model.OwnershipType)
                                        </dt>
                                        <dd class = "col-sm-5">
                                            @Html.DisplayFor(model => model.OwnershipType)
                                        </dd>
                                    </dl>
                                    
                                    <div class="card mb-2 card-smal"></div>
                                </div>
                            </div>
             </div>

</div>
</div>
</div>

<div>
    <a asp-action="Index" style="text-decoration: none; color: black;">Back to List</a>
</div>
